<table class="m_5092302280987266379m_-4275495989256000451MsoNormalTable"
	border="0" cellspacing="0" cellpadding="0" width="100%"
	style="width: 100.0%; border-collapse: collapse">
	<tbody>
		<tr>
			<td width="100%" valign="top"
				style="width: 100.0%; padding: 0cm 0cm 0cm 0cm">
				<div align="center">
                        <table
                        class="m_5092302280987266379m_-4275495989256000451MsoNormalTable"
                        border="0" cellspacing="0" cellpadding="0" width="800"
                        id="m_5092302280987266379m_-4275495989256000451templateBody"
                        style="background: #f6f7fa; border-collapse: collapse">
                        <tbody>
                            <tr>
                                <td valign="top"
                                    style="border: solid #ced8e5 1.0pt; background: white; padding: 0cm 15.0pt 0cm 15.0pt">
                                    <table
                                        class="m_5092302280987266379m_-4275495989256000451MsoNormalTable"
                                        border="0" cellspacing="0" cellpadding="0"
                                        style="border-collapse: collapse">
                                        <tbody>


                                            <tr>
                                                <td valign="top" style="padding: 0cm 0cm 0cm 0cm">
                                                    <div align="center">
                                                        <table
                                                            class="m_5092302280987266379m_-4275495989256000451MsoNormalTable"
                                                            border="0" cellspacing="0" cellpadding="0" width="800"
                                                            id="m_5092302280987266379m_-4275495989256000451templateHeaderText"
                                                            style="border-collapse: collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top" style="padding: 0cm 0cm 0cm 0cm">
                                                                        <p class="MsoNormal" align="center"
                                                                            style="text-align: center; line-height: 150%">
                                                                            <span
                                                                                style="font-size: 11.5pt; line-height: 150%; font-family: &amp; quot; Helvetica &amp;quot; ,&amp; quot; sans-serif &amp;quot;; color: #132c4b"><img
                                                                                border="0"
                                                                                id="m_5092302280987266379m_-4275495989256000451_x0000_i1025"
                                                                                src="https://i.imgur.com/4grJOtT.png" class="CToWUd"></span>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <p class="MsoNormal" style="line-height: 150%">
                                                            <span
                                                                style="font-size: 11.5pt; line-height: 150%; color: #808ea5">&nbsp;</span>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>


                                            <tr>

                                                <td>
                                                    <table
                                                        class="m_5092302280987266379m_-4275495989256000451MsoNormalTable"
                                                        border="0" cellspacing="0"
                                                        cellpadding="0" width="100%"
                                                        style="width: 100.0%; border-collapse: collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td width="50%"
                                                                    style="width: 50%; padding: 4.5pt 0cm 4.5pt 0cm">
                                                                    <table
                                                                        class="m_5092302280987266379m_-4275495989256000451MsoNormalTable"
                                                                        border="0" cellspacing="0" cellpadding="0"
                                                                        style="width: 100%; border-collapse: collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding: 5pt 0cm 1.5pt 0cm; text-align: center;">
                                                                                    <p class="MsoNormal"
                                                                                        style="line-height: 150%">
                                                                                        <span
                                                                                             style="font-size: 24pt; line-height: 150%; font-family: Helvetica, sans-serif; text-transform: uppercase">
                                                                                            TAX INVOICE
                                                                                        </span>
                                                                                    </p>
                                                                                </td>

                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding: 1.5pt 0cm 1.5pt 0cm">
                                                                                    <table
                                                                                        class="m_5092302280987266379m_-4275495989256000451MsoNormalTable"
                                                                                        border="0" cellspacing="0" cellpadding="0"
                                                                                        style="width: 100%; border-collapse: collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="50%" style="width: 50%">
                                                                                                </td>
                                                                                                <td width="50%" style="width: 50%">
                                                                                                    <p class="MsoNormal" style="line-height: 150%">
                                                                                                        <span
                                                                                                            style="font-size: 10pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b">
                                                                                                            [DRIVER.PRI_FIRSTNAME] [DRIVER.PRI_LASTNAME]
                                                                                                            <br />
                                                                                                            [DRIVER.PRI_ADDRESS_ADDRESS1]
                                                                                                            <br />
                                                                                                            [DRIVER.PRI_ADDRESS_SUBURB] [DRIVER.PRI_ADDRESS_STATE] [DRIVER.PRI_ADDRESS_POSTCODE]
                                                                                                            <br />
                                                                                                            [DRIVER.PRI_ADDRESS_COUNTRY]
                                                                                                            <br />
                                                                                                            ABN: [DRIVER_COMPANY.PRI_ABN]
                                                                                                        </span>
                                                                                                    </p>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>

                                                                                </td>

                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td width="25%"
                                                                    style="width: 25%;">
                                                                </td>
                                                                <td width="25%"
                                                                    style="width: 25%; padding: 0cm 0cm 4.5pt 0cm">
                                                                    <table
                                                                        class="m_5092302280987266379m_-4275495989256000451MsoNormalTable"
                                                                        border="0" cellspacing="0" cellpadding="0"
                                                                        style="border-collapse: collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding: 1.5pt 0cm 1.5pt 0cm">
                                                                                    <p class="MsoNormal" style="line-height: 150%">
                                                                                        <span
                                                                                            style="font-size: 10pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b">
                                                                                            <b>Invoice Date</b>
                                                                                            <br />
                                                                                            {{INVOICE_DATE}}</span>
                                                                                    </p>
                                                                                </td>

                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding: 1.5pt 0cm 1.5pt 0cm">
                                                                                    <p class="MsoNormal" style="line-height: 150%">
                                                                                        <span
                                                                                            style="font-size: 10pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b">
                                                                                            <b>Invoice Number</b>
                                                                                            <br />
                                                                                            [JOB.PRI_JOB_ID]</span>
                                                                                    </p>
                                                                                </td>

                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding: 1.5pt 0cm 1.5pt 0cm">
                                                                                    <p class="MsoNormal" style="line-height: 150%">
                                                                                        <span
                                                                                            style="font-size: 10pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b">
                                                                                            <b>ABN</b>
                                                                                            <br />
                                                                                            [OWNER_COMPANY.PRI_ABN]</span>
                                                                                    </p>
                                                                                </td>

                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <p class="MsoNormal" style="line-height: 600%">
                                                        <span
                                                            style="font-size: 11.5pt; line-height: 600%;">&nbsp;</span>
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr>

                                                <td>
                                                    <table
                                                        class="m_5092302280987266379m_-4275495989256000451MsoNormalTable"
                                                        border="0" cellspacing="0"
                                                        cellpadding="0" width="100%"
                                                        style="width: 100.0%; border-collapse: collapse">
                                                        <theader>
                                                            <tr style="border: none; border-bottom: solid #000 1.5pt;">
                                                                <th style="width: 40%; text-align: left; font-family: Helvetica, sans-serif; padding: 5pt 0cm 5pt 0cm; ">
                                                                    <span
                                                                        style="font-size: 9pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b">
                                                                        Description
                                                                    </span>
                                                                </th>
                                                                <th style="width: 10%; text-align: right; font-family: Helvetica, sans-serif;padding: 5pt 0cm 5pt 0cm; ">
                                                                    <span
                                                                        style="font-size: 9pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b">
                                                                        Quantity
                                                                    </span>
                                                                </th>
                                                                <th style="width: 15%; text-align: right; font-family: Helvetica, sans-serif; padding: 5pt 0cm 5pt 0cm; ">
                                                                    <span
                                                                        style="font-size: 9pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b">
                                                                        Unit Price
                                                                    </span>
                                                                </th>
                                                                <th style="width: 10%; text-align: right; font-family: Helvetica, sans-serif; padding: 5pt 0cm 5pt 0cm; ">
                                                                    <span
                                                                        style="font-size: 9pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b">
                                                                        GST
                                                                    </span>
                                                                </th>
                                                                <th style="width: 15%; text-align: right; font-family: Helvetica, sans-serif; padding: 5pt 0cm 5pt 0cm; ">
                                                                    <span
                                                                        style="font-size: 9pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b">
                                                                        Amount AUD
                                                                    </span>
                                                                </th>
                                                            </tr>
                                                        </theader>
                                                        <tbody>
                                                            <tr style="border: none; border-bottom: solid #b3b2b3 1.5pt;">

                                                                <td style="text-align: left; padding: 5pt 0cm 5pt 0cm; ">
                                                                    <p class="MsoNormal" style="line-height: 150%">
                                                                        <span
                                                                            style="font-size: 9pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b">
                                                                            [JOB.PRI_DESCRIPTION]</span>
                                                                    </p>
                                                                </td>
                                                                <td style="text-align: right; padding: 5pt 0cm 5pt 0cm; ">
                                                                    <p class="MsoNormal" style="line-height: 150%">
                                                                        <span
                                                                            style="font-size: 9pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b">
                                                                            1.00</span>
                                                                    </p>
                                                                </td>
                                                                <td style="text-align: right; padding: 5pt 0cm 5pt 0cm; ">
                                                                    <p class="MsoNormal" style="line-height: 150%">
                                                                        <span
                                                                            style="font-size: 9pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b">
                                                                            [OFFER.PRI_OFFER_OWNER_PRICE_EXC_GST]</span>
                                                                    </p>
                                                                </td>
                                                                <td style="text-align: right; padding: 5pt 0cm 5pt 0cm; ">
                                                                    <p class="MsoNormal" style="line-height: 150%">
                                                                        <span
                                                                            style="font-size: 9pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b">
                                                                            10%</span>
                                                                    </p>
                                                                </td>
                                                                <td style="text-align: right; padding: 5pt 0cm 5pt 0cm; ">
                                                                    <p class="MsoNormal" style="line-height: 150%">
                                                                        <span
                                                                            style="font-size: 9pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b">
                                                                            [OFFER.PRI_OFFER_OWNER_PRICE_EXC_GST]</span>
                                                                    </p>
                                                                </td>

                                                            </tr>
                                                            <tr >
                                                                <td colspan="4"  style="font-size: 9pt; line-height: 150%; text-align: right; font-family: Helvetica, sans-serif; padding: 5pt 0cm 5pt 0cm; ">
                                                                    <span>INCLUDES GST 10%</span>
                                                                </td>
                                                                <td  style="font-size: 9pt; line-height: 150%; text-align: right; font-family: Helvetica, sans-serif; padding: 5pt 0cm 5pt 0cm; ">
                                                                    <span>{{PRI_GST}}</span>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr style="">
                                                                <td colspan="2" style="text-align: right">
                                                                </td>
                                                                <td colspan="2" style="font-size: 9pt; line-height: 150%; border: none; border-top: solid #000 1.5pt; text-align: right; font-family: Helvetica, sans-serif; padding: 5pt 0cm 5pt 0cm; ">
                                                                    <span><b>TOTAL AUD</b></span>
                                                                </td>
                                                                <td style="font-size: 9pt; line-height: 150%; border: none; border-top: solid #000 1.5pt; text-align: right; font-family: Helvetica, sans-serif; padding: 5pt 0cm 5pt 0cm; ">
                                                                    <span><b>[OFFER.PRI_OFFER_OWNER_PRICE_INC_GST]</b></span>
                                                                </td>

                                                            </tr>
                                                            <tr style="">
                                                                <td colspan="4" style="font-size: 9pt; line-height: 150%; text-align: right; font-family: Helvetica, sans-serif">
                                                                    <span>Balance owing</span>
                                                                </td>
                                                                <td style="font-size: 9pt; line-height: 150%; text-align: right; font-family: Helvetica, sans-serif">
                                                                    <span>0.00</span>
                                                                </td>

                                                            </tr>
                                                        </tfoot>
                                                    </table>

                                                    <p class="MsoNormal" style="line-height: 600%">
                                                        <span
                                                            style="font-size: 11.5pt; line-height: 600%;">&nbsp;</span>
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr>

                                                <td width="100%"
                                                    style="width: 100%; padding: 0cm 7.5pt 0cm 7.5pt">

                                                    <table
                                                        class="m_5092302280987266379m_-4275495989256000451MsoNormalTable"
                                                        border="0" cellspacing="0"
                                                        cellpadding="0" width="100%"
                                                        style="width: 100.0%; border-collapse: collapse">
                                                        <tbody>
                                                            <tr>
                                                                <!-- <td style="text-align: left; font-family: Helvetica, sans-serif ">
                                                                    <span
                                                                    style="font-size: 11.5pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b"
                                                                    >Payment method: [PRI.DESCRIPTION]</span>
                                                                </td> -->
                                                                <td style="text-align: left; font-family: Helvetica, sans-serif">
                                                                    <span
                                                                    style="font-size: 11.5pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b"
                                                                    >Payment type: {{PAYMENT_TYPE}}</span>
                                                                </td>
                                                                <td style="text-align: left; font-family: Helvetica, sans-serif">
                                                                    <span
                                                                    style="font-size: 11.5pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #132c4b"
                                                                    >Account number: {{PAYMENT_ACCOUNTNUMBER}}</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td width="100%"
                                                    style="width: 100.0%; border: none; border-bottom: solid #000 1.5pt; padding: 7.5pt 0cm 0cm 0cm">
                                                </td>
                                            </tr>


                                            <tr>

                                                <td width="100%"
                                                    style="width: 100%; padding: 7.5pt 7.5pt 0cm 7.5pt">

                                                    <span
                                                        style="font-size: 11.5pt; line-height: 150%; font-family: Helvetica, sans-serif"> This invoice requires no payment as payment has been handled through the Channel 40 payment gateway</span>

                                                </td>
                                            </tr>

                                            <tr>
                                                <td width="100%"
                                                    style="width: 100.0%; border: none; border-bottom: solid #000 1.5pt; padding: 7.5pt 0cm 0cm 0cm">
                                                </td>
                                            </tr>


                                            <tr>
                                                <td width="100%"
                                                    style="width: 100%; padding: 30pt 7.5pt 0cm 7.5pt">

                                                </td>
                                            </tr>

                                            <tr>

                                                    <td style="background-size: 800px 120px; background-image: url('https://i.imgur.com/Sy1r0rV.png')">

                                                        <table
                                                            class="m_5092302280987266379m_-4275495989256000451MsoNormalTable"
                                                            border="0" cellspacing="0"
                                                            cellpadding="0" width="100%"
                                                            style="width: 100.0%; border-collapse: collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="65%"
                                                                        style="width: 65%; padding: 0cm">
                                                                        <div style="width: 0;
                                                                        height: 0;
                                                                        border-top: 120px solid #fff;
                                                                        border-right: 500px solid transparent;"></div>
                                                                    </td>
                                                                    <td width="20%"
                                                                        style="width: 20%; padding: 0cm">
                                                                        <table
                                                                            class="m_5092302280987266379m_-4275495989256000451MsoNormalTable"
                                                                            border="0" cellspacing="0" cellpadding="0"
                                                                            style="width: 100%; border-collapse: collapse;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="padding: 1.5pt 0cm 1.5pt 0cm">
                                                                                        <p class="MsoNormal" style="line-height: 150%">
                                                                                            <span
                                                                                                style="font-size: 11.5pt; line-height: 150%; font-family: Helvetica, sans-serif; color: #fff">
                                                                                                Channel 40 Pty Ltd.
                                                                                                <br />
                                                                                                ABN: 61 612 991 483
                                                                                                <br />
                                                                                                P.O. Box 4969,
                                                                                                <br />
                                                                                                Dubbo, NSW 2830
                                                                                            </span>
                                                                                        </p>
                                                                                    </td>

                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                    <td width="15%"
                                                                        style="width: 15%;  padding: 0cm">
                                                                        <img src="https://i.imgur.com/ZtGTOJf.png" style="height: 100px; width: 100px;"/>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td width="100%"
                                                        style="width: 100%; padding: 30pt 7.5pt 0cm 7.5pt">

                                                    </td>
                                                </tr>


                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
				</div>
			</td>
		</tr>
	</tbody>
</table>
